[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "==4.9.1"
pandas = "*"
parquet = "*"
fastparquet = "*"
termcolor = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
install = "*"
tqdm = "==4.1.0"
tensorflow = "*"
scipy = "*"
setuptools = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
scikeras = "*"
opendatasets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
